.FakeButton {
  display: block;
  width: fit-content;
  background-color: white;
  color: black;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
}

.FakeButton:hover {
  background-color: lightgrey;
  cursor: pointer;
}
